@import "tailwindcss";

/* --- Custom Styles di bawah sini --- */

body {
  background: #0f172a;
  color: white;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Animasi Pulse Slow */
@keyframes pulse-slow {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.8; }
}
.animate-pulse-slow {
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.snowflake {
  position: fixed;
  top: -10px;
  color: white;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  z-index: 1; /* Di belakang konten utama tapi di depan background */
  pointer-events: none; /* Supaya tidak mengganggu klik */
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  0% { transform: translateY(-10vh) translateX(0); opacity: 1; }
  100% { transform: translateY(110vh) translateX(20px); opacity: 0.3; }
}